<div class="container p-3">
    <div class="row">
        {{#each peticiones}}
            <div class="card text-center" style="width: 18rem;">
  <img class="card-img-top" src="https://image.flaticon.com/icons/png/512/5376/5376465.png  " alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Descripcion Ubicacion
        
    </h5>
    <p class="card-text">{{Descriptions}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><p align="center"><b >Direccion Inicial</b>  </p>  <p class="card-text">{{StartDirection}}</p> </li>
    <li class="list-group-item"> <p align="center"><b >Direccion Final</b>  </p>  <p class="card-text">{{FinalDirection}}</p> </li>
    <li class="list-group-item"><p align="center"><b >Fecha Creacion</b>  </p>  <p class="card-text">{{timeago DateOrden}}</p> </li>
  </ul>
  <div class="card-body">
    <a href="/delete/{{idRequest}}" class="btn btn-danger">Eliminar</a>
    <a href="/edit/{{idRequest}}" class="btn btn-secondary">Editar</a>
  </div>
  <div class="card-body">
    <a href="/allDriversActivos" class="btn btn-danger">Asignar</a>
  </div>
</div>
  {{else}}
  <div class="col-md-4 mx-auto">
    <div class="card card-body text-center">
      <p>No Tienes peticiones realiza una</p>
      <a href="/add">Crea una </a>
    </div>
  </div>
        {{/each}}
    </div>
</div>